
.nav-brand{
  background-color: #4c60da;
}

.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  color:#525a8c;
  text-shadow: 5px 5px 10px whitesmoke;
  text-align:center;
  text-decoration: none;
}
body, html { overflow-x: hidden; }
  
  @media (min-width:1000px) {
    
    .log{
        margin-top: 170px !important;
        background-color: white;
        padding-bottom: 120px !important;
    }
    #title{
      padding-top:0px !important;
    }
    #user{
      height:50px;
    }
    .wrapper{
    margin-left: 1.5rem !important;
    }
    
}


@media (max-width:768px) {
  #catlist{
    height:68vh !important;
    border:none !important;
    margin-bottom: 200px;
  }

  #list{
    border:none !important;
  }
  .nav-bar {
    flex-basis: auto;
    flex-wrap: wrap;
  }
  #navmenu .dropdown-item {
    float: left !important;
        margin-left: -200px !important;
    }
  }
  
body{
    background-color:#ede8e8 !important;
}
.cookie-regular {
  font-family: "Cookie", cursive;
  font-style: normal;
  color:black;
  text-align: center;
  font-size: large;
}
.bg{
  margin-top: 170px !important;
  padding-bottom: 120px !important;
}
  #login,#signUp,.bg{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }
  .navbar,footer{
    background: #6777ef;
  }
  .button {
    display: inline-block;
    border-radius: 4px;
    background-color:#4c60da;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
  }
  .button:hover,#login:hover{
    background-color:#4c60da;
    opacity: 0.6;
  }
  input[type='checkbox']{
    cursor: pointer;
  }
  #login{
    align-content:center;
    margin-left: 25%;
    width:230px;
  }
  .ac{
    margin-top:10%
  }
  .dancing-script {
    font-family: "Dancing Script", cursive;
    /* font-optical-sizing: auto; */
    font-weight: bold;
    font-style: normal;
    color:  #8fd3f4;
    text-shadow: 5px 5px 10px #84fab0;
  }
  .detst{
    /* font-optical-sizing: auto; */
    font-weight: bold;
    font-style: normal;
    color:#9f6842;
    text-shadow: 5px 5px 10px #E6ADBC;
  }
  .nav-item a, .nav-link{
    font-size: 20px;
    text-decoration: none;
    float:right;
  }
  .dropdown-item{
    color:black;
  }
  #letter{
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    height: 80px;
    width:80px;
    float:right;
  }
  #letter:hover{
    transform: scale(1.1);
    opacity:0.5;
  }
  .topStyle{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border-radius: 0 0 30% 0;
  }
  .img,.img1{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:100%;
    height:100px;
    position: relative;
   
  }
  .img1{
    width:200px !important;
    height:200px !important;
    top:-70px;
  }
  .img{
    top:70px;
  }
  #rName{
    margin-top:5rem;
  }
  #title{
    padding-left: 10px;
    padding-top: 70px;
  }
  .cardHeight{
    height:100px !important;
  }
  .box{
    border: 1px solid white;
    box-shadow: 5px 5px lightgray ;
    background-color: white;
    margin-top:70px;
  }
  .dropdown-menu.show {
    margin-left:80%;
}
#todoData::placeholder, #deadline::placeholder{
  color:black;
}
.dropdown-toggle::after {
  font-size: 20px !important;
}
.text-gray-800{
  color:#5a5c69 !important;
  padding-top: 10px;
}
#cat{
  text-align: center;
  margin-bottom:50px !important;
}
iframe{
  height:500px;
}
/* #catlist,#list{
  border-right:2px double black;
  height:100vh;
} */
#catError{
  margin-top: -50px !important;
}
.over{
  height:100px;
  padding-top:30px !important;
  font-size:25px !important;
  margin-top:15px;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color:black !important;
}
#navLink{
  font-weight: bold;
}
#navLink .nav-link:hover{
  transform: scale(1.1);
  color: #d3cfcf !important;
}
footer{
  width:100vw;
}
footer .h5{
 background-color: #4c60da;
}
.wrapper{
  background-color: white !important;
  overflow: scroll;
  margin-bottom:20px;
}
.tranc-enter{
  margin-top:-750px;
  background-color:#ede8e8 !important;
  -webkit-transform: translate3d(-750px, 0, 0);
  transform: translate3d(-750px, 0, 0);
}
.tranb-exit {
  -webkit-transform: translate3d(750px, 0, 0);
  transform: translate3d(750px, 0, 0);
}
.pwd{
  position: relative;
    margin-left: -30px;
}