
.caveat-brush-regular {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
  color:white;
  text-align:center;
  text-decoration: none;
}
  
  @media (min-width:1000px) {
    
    .log{
        margin-top: 170px !important;
        background-color: white;
        padding-bottom: 120px !important;
    }
    #title{
      padding-top:0px !important;
    }
    #user{
      height:50px;
    }
    .bg{
      margin-top: 170px !important;
      padding-bottom: 120px !important;
    }
    .headLink{
      position: relative;
      /* margin-left: -100px !important; */
      top:-360px;
      left: -50px;
      background-color: white !important;
      cursor:default;
      height:60px !important;
    }
    .data{
      position: absolute;
      /* margin-left: -100px !important; */
     bottom:-360px;
      right:-100px;
      cursor:default;
      background-color: #dbe0e4;
    }
    #search{
      position: relative;
        /* margin-right: 100px !important; */
        right: -400px;
        top: -35px;
        background-color: #dbe0e4 !important;
        border:none !important;
    }
    .contDim{
      /* margin-top:200px; */
      height:700px;
      width:500px;
    }
    #list{
      margin-left:10px;
     width:40% !important;
    }
    footer{
      margin-left:-302px !important;
    }
    .navbar{
      background-color:#dbe0e4;
    }
    
}

@media (max-width:768px) {
  .m{
    text-align: left !important;
    font-size:10px;
    padding-left:0;
  }
   .container-fluid{ overflow-x: hidden; }
  .headLink{
    position: relative;
    /* margin-left: -100px !important; */
    left: -20px;
    background-color: white !important;
  }
  .navbar-collapse {
    position: fixed;
    top: 50px; /* adjust to height of navbar */
    left: 0;
    width: 75%;
    height: 100%;
  }
  #search{
      position: relative;
      width: 80% !important;
  }
  
  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }
  
  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
    z-index:1;
  }
.navbar-toggler{
  margin-left: 15px;
  padding: 5px;
}
.navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left 500ms ease-in-out;
}
  #catlist{
    height:68vh !important;
    border:none !important;
    margin-bottom: 200px;
  }

  #list{
    border:none !important;
  }
  .nav-bar {
    flex-basis: auto;
    flex-wrap: wrap;
  }
    .log{
      background-color: white;
    }
  }
  
body{
    background-color:#dbe0e4 !important;
    height:100vh !important;
}
.cookie-regular {
  font-family: "Cookie", cursive;
  font-style: normal;
  color:white;
  text-align: center;
  font-size: large;
}
 .bg,.bgcolor{
    background-color:#2874f0;
  }
  #login,#signUp{
    background: #fb641b;
  }
  .button {
    display: inline-block;
    border-radius: 4px;
    background-color:#fb641b;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
  }
  .button:hover,#login:hover,#signUp:hover{
    background-color:#fb641b;
    transform:scale(1.1);
  }
  input[type='checkbox'],.btn-close{
    cursor: pointer;
  }
  .ac{
    margin-top:10%
  }
  .dancing-script {
    font-family: "Dancing Script", cursive;
    /* font-optical-sizing: auto; */
    font-weight: bold;
    font-style: normal;
    color:  #2874f0;
    text-shadow: 1px 0px 0.5px #8fd3f4;
  }
  .detst{
    /* font-optical-sizing: auto; */
    font-weight: bold;
    font-style: normal;
    color:#9f6842;
    text-shadow: 5px 5px 10px #E6ADBC;
  }
  .dropdown-item{
    color:black;
  }
  #letter{
    text-align: center;
    text-decoration: none;
    float:right;
    border-radius: 100%;
    margin-top:-60px !important;
    margin-left:-50px !important;
    height:50px;
    width:50px;

  }
  #letter:hover,.m:hover{
    transform: scale(1.1);
  }
  /* .topStyle{ 
    background-image: linear-gradient(120deg, #8fd3f4 0%, #84fab0 100%);
    border-radius: 0 0 30% 0;
    height:100px;
  } */
  .img,.img1{
    display:block;
    margin-left:auto;
    margin-right:auto;
    border-radius:100%;
    height:100px;
    width:100px;
    position: relative;
   
  }
  .img1{
    width:200px !important;
    height:200px !important;
    top:-75px;
  }
  .img{
    top:70px;
  }
  #rName{
    margin-top:5rem;
  }
  #title{
    padding-left: 10px;
    padding-top: 70px;
  }
  .cardHeight{
    height:100px !important;
  }
  .box{
    border: 1px solid white;
    box-shadow: 5px 5px lightgray ;
    background-color: white;
    margin-top:70px;
  }
  .dropdown-menu.show {
    margin-left:80%;
}
#todoData::placeholder, #deadline::placeholder{
  color:black;
}
.dropdown-toggle::after {
  font-size: 20px !important;
}
.text-gray-800{
  color:#5a5c69 !important;
  padding-top: 10px;
}
#cat,#assign,#priority{
  text-align: center;
}
iframe{
  height:500px;
}
::placeholder{
  text-align: center;
}
/* #catlist,#list{
  border-right:2px double black;
  height:100vh;
} */
#catError{
  margin-top: -50px !important;
}
.over{
  height:100px;
  padding-top:30px !important;
  font-size:25px !important;
  margin-top:15px;
}
.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
  color:black !important;
}
#nav{
  float: left !important;
    background-color: white;
    height: 100vh !important;
    position: sticky;
    bottom: -50px;;
}
#navLink .nav-link:hover{
  transform: scale(1.1);
  color: #0f0e0e !important;
}
footer{
  width:100vw;
  background-color:#2874f0;
}
footer .h5{
 background-color:#dbe0e4;
}
.wrapper{
  background-color: white !important;
  overflow: scroll;
  margin-bottom:20px;
}
/* .tranc-enter{
  margin-top:-750px;
  background-color:#ede8e8 !important;
  -webkit-transform: translate3d(-750px, 0, 0);
  transform: translate3d(-750px, 0, 0);
}
.tranb-exit {
  -webkit-transform: translate3d(750px, 0, 0);
  transform: translate3d(750px, 0, 0);
} */
.pwd{
  position: relative;
    margin-left: -20px !important;
}
.pwd1{
  bottom: -9px;
}
.todo{
  height:400px !important;
}
tbody{
  border: 1px solid #f3eded !important;
    /* border-radius: 100% !important; */
    border-radius: 50px !important;
    margin-left: 60px;
    /* margin-right: -1000px; */
    /* height: 50%; */
    width: 90% !important;
}
.fa{
 cursor: pointer;
}
dropdown-menu li {
  position: relative;
  }
  .dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}
.homepagebg{
  background-color: lightgray !important;
}
.initial{
  color:white !important;
  border-radius:30%;
  padding:10px 15px 15px 15px;
  position: relative;
  bottom:-12px;
}

 .colour{
  color:#2874f0;
 }

 .colg{
  color:#157c06 !important;
 }
 